<div *ngIf="RespuestaMulti==0">
  
  <form [formGroup]="radioGroupForm">
    <div class="btn-group" ngbRadioGroup name="radioBasic" formControlName="model">
    
        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta1!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta1==IdCuestionarioNivel11||Respuesta1==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="1" (click)="showHide1 = !showHide1"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="1"> 
          </ng-template>            
          {{Respuesta1}}    
        </label>

        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta2!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta2==IdCuestionarioNivel11||Respuesta2==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="2" (click)="showHide2 = !showHide2"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="2"> 
          </ng-template>            
          {{Respuesta2}}          
        </label>

        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta3!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta3==IdCuestionarioNivel11||Respuesta3==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="3" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="3"> 
          </ng-template>            
          {{Respuesta3}}          
        </label>
       
        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta4!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta4==IdCuestionarioNivel11||Respuesta4==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="4" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="4"> 
          </ng-template>            
          {{Respuesta4}}          
        </label>
    
        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta5!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta5==IdCuestionarioNivel11||Respuesta5==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="5" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="5"> 
          </ng-template>            
          {{Respuesta5}}          
        </label>

        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta6!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta6==IdCuestionarioNivel11||Respuesta6==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="6" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="6"> 
          </ng-template>            
          {{Respuesta6}}          
        </label>

        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta7!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta7==IdCuestionarioNivel11||Respuesta7==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="7" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="7"> 
          </ng-template>            
          {{Respuesta7}} 
        </label>
          
        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta8!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta8==IdCuestionarioNivel11||Respuesta8==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="8" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="8"> 
          </ng-template>            
          {{Respuesta8}}          
        </label> 

        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta9!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta9==IdCuestionarioNivel11||Respuesta9==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="9" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="9"> 
          </ng-template>            
          {{Respuesta9}}          
        </label>

        <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta10!=0">
          <div class="btn-group" *ngIf="IdCuestionarioNivel11!=0 && Respuesta10==IdCuestionarioNivel11||Respuesta10==IdCuestionarioNivel12;else elseClick">       
            <input ngbButton type="radio" [value]="10" (click)="showHide = !showHide"> 
          </div>
          <ng-template #elseClick>
            <input ngbButton type="radio" [value]="10"> 
          </ng-template>            
          {{Respuesta10}}          
        </label>
        
    </div>
  </form>
  
  <div class="box" *ngIf="showHide">  
      <app-subrespuesta
      [Respuesta1]=Respuesta1            
      [Respuesta2]=Respuesta2            
      [Respuesta3]=Respuesta3            
      [Respuesta4]=Respuesta4            
      [Respuesta5]=Respuesta5            
      [Respuesta6]=Respuesta6            
      [Respuesta7]=Respuesta7            
      [Respuesta8]=Respuesta8          
      [Respuesta9]=Respuesta9          
      [Respuesta10]=Respuesta10
      [IdCuestionarioNivel11]=IdCuestionarioNivel11
      [IdCuestionarioNivel12]=IdCuestionarioNivel12
      [IdCuestionarioNivel211]=IdCuestionarioNivel211
      [IdCuestionarioNivel212]=IdCuestionarioNivel212
      [IdCuestionarioNivel221]=IdCuestionarioNivel221
      [IdCuestionarioNivel222]=IdCuestionarioNivel222
      [IdCuestionarioNivel3111]=IdCuestionarioNivel3111
      [IdCuestionarioNivel3112]=IdCuestionarioNivel3112
      [IdCuestionarioNivel3121]=IdCuestionarioNivel3121
      [IdCuestionarioNivel3122]=IdCuestionarioNivel3122
      [IdCuestionarioNivel3211]=IdCuestionarioNivel3211
      [IdCuestionarioNivel3212]=IdCuestionarioNivel3212
      [IdCuestionarioNivel3221]=IdCuestionarioNivel3221
      [IdCuestionarioNivel3222]=IdCuestionarioNivel3222
      [IdCuestionarioNivel41111]=IdCuestionarioNivel41111
      [IdCuestionarioNivel41112]=IdCuestionarioNivel41112
      ></app-subrespuesta>
  </div>
  
  </div>  
    
  <div *ngIf="RespuestaMulti==1">
  
  <form [formGroup]="checkboxGroupForm">
      
    <div class="btn-group" data-toggle="buttons" >

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta1">
        <div class="btn-group" *ngIf="Respuesta1==IdCuestionarioNivel11 || Respuesta1==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="1" ngbButton (click)="showHide1 = !showHide1">
        </div>
        <!--<div class="btn-group" *ngIf="Respuesta1==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="1" ngbButton (click)="showHide2 = !showHide2">
        </div>-->
        <ng-template #elseClick>
        <input type="checkbox" formControlName="1" ngbButton>
        </ng-template>            
        {{Respuesta1}}  
      </label>
     
      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta2">
        <div class="btn-group" *ngIf="Respuesta2==IdCuestionarioNivel11 || Respuesta2==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="2" ngbButton (click)="showHide2 = !showHide2">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="2" ngbButton>
        </ng-template>            
        {{Respuesta2}}          
      </label>


      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta3!=0">
        <div class="btn-group" *ngIf="Respuesta3==IdCuestionarioNivel11 || Respuesta3==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="3" ngbButton (click)="showHide3 = !showHide3">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="3" ngbButton>
        </ng-template>            
        {{Respuesta3}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta4!=0">
        <div class="btn-group" *ngIf="Respuesta4==IdCuestionarioNivel11 || Respuesta4==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="4" ngbButton (click)="showHide4 = !showHide4">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="4" ngbButton>
        </ng-template>            
        {{Respuesta4}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta5!=0">
        <div class="btn-group" *ngIf="Respuesta5==IdCuestionarioNivel11 || Respuesta5==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="5" ngbButton (click)="showHide5 = !showHide5">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="5" ngbButton>
        </ng-template>            
        {{Respuesta5}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta6!=0">
        <div class="btn-group" *ngIf="Respuesta6==IdCuestionarioNivel11 || Respuesta6==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="6" ngbButton (click)="showHide6 = !showHide6">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="6" ngbButton>
        </ng-template>            
        {{Respuesta6}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta7!=0">
        <div class="btn-group" *ngIf="Respuesta7==IdCuestionarioNivel11 || Respuesta7==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="7" ngbButton (click)="showHide7 = !showHide7">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="7" ngbButton>
        </ng-template>            
        {{Respuesta7}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta8!=0">
        <div class="btn-group" *ngIf="Respuesta8==IdCuestionarioNivel11 || Respuesta8==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="8" ngbButton (click)="showHide8 = !showHide8">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="8" ngbButton>
        </ng-template>            
        {{Respuesta8}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta9!=0">
        <div class="btn-group" *ngIf="Respuesta9==IdCuestionarioNivel11 || Respuesta9==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="9" ngbButton (click)="showHide9 = !showHide9">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="9" ngbButton>
        </ng-template>            
        {{Respuesta9}}          
      </label>

      <label ngbButtonLabel class="btn-primary" *ngIf="Respuesta10!=0">
        <div class="btn-group" *ngIf="Respuesta10==IdCuestionarioNivel11 || Respuesta10==IdCuestionarioNivel12;else elseClick">       
          <input type="checkbox" formControlName="10" ngbButton (click)="showHide10 = !showHide10">
        </div>
        <ng-template #elseClick>
        <input type="checkbox" formControlName="10" ngbButton>
        </ng-template>            
        {{Respuesta10}}          
      </label>

    </div>
   
  </form>
      
  <div class="box" *ngIf="showHide1">  
    <app-subrespuesta
    [Respuesta1]=Respuesta1    
    [IdCuestionarioNivel211]=IdCuestionarioNivel211
    [IdCuestionarioNivel212]=IdCuestionarioNivel212  
    [IdCuestionarioNivel211]=IdCuestionarioNivel221
    [IdCuestionarioNivel212]=IdCuestionarioNivel222>     
    </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide2">  
      <app-subrespuesta
      [Respuesta2]=Respuesta2 
      [IdCuestionarioNivel211]=IdCuestionarioNivel211
      [IdCuestionarioNivel212]=IdCuestionarioNivel212          
      [IdCuestionarioNivel221]=IdCuestionarioNivel221
      [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
      </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide3">  
    <app-subrespuesta
    [Respuesta3]=Respuesta3    
    [IdCuestionarioNivel211]=IdCuestionarioNivel211
    [IdCuestionarioNivel212]=IdCuestionarioNivel212              
    [IdCuestionarioNivel221]=IdCuestionarioNivel221
    [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
    </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide4">  
      <app-subrespuesta
      [Respuesta4]=Respuesta4    
      [IdCuestionarioNivel211]=IdCuestionarioNivel211
      [IdCuestionarioNivel212]=IdCuestionarioNivel212     
      [IdCuestionarioNivel221]=IdCuestionarioNivel221
      [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
      </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide5">  
    <app-subrespuesta
    [Respuesta5]=Respuesta5    
    [IdCuestionarioNivel211]=IdCuestionarioNivel211
    [IdCuestionarioNivel212]=IdCuestionarioNivel212           
    [IdCuestionarioNivel221]=IdCuestionarioNivel221
    [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
    </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide6">  
      <app-subrespuesta
      [Respuesta6]=Respuesta6  
      [IdCuestionarioNivel211]=IdCuestionarioNivel211
      [IdCuestionarioNivel212]=IdCuestionarioNivel212       
      [IdCuestionarioNivel221]=IdCuestionarioNivel221
      [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
      </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide7">  
    <app-subrespuesta
    [Respuesta7]=Respuesta7  
    [IdCuestionarioNivel211]=IdCuestionarioNivel211
    [IdCuestionarioNivel212]=IdCuestionarioNivel212           
    [IdCuestionarioNivel221]=IdCuestionarioNivel221
    [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
    </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide8">  
      <app-subrespuesta
      [Respuesta8]=Respuesta8  
      [IdCuestionarioNivel211]=IdCuestionarioNivel211
      [IdCuestionarioNivel212]=IdCuestionarioNivel212      
      [IdCuestionarioNivel221]=IdCuestionarioNivel221
      [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
      </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide9">  
    <app-subrespuesta
    [Respuesta9]=Respuesta9 
    [IdCuestionarioNivel211]=IdCuestionarioNivel211
    [IdCuestionarioNivel212]=IdCuestionarioNivel212           
    [IdCuestionarioNivel221]=IdCuestionarioNivel221
    [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
    </app-subrespuesta>
  </div>
  <div class="box" *ngIf="showHide10">  
      <app-subrespuesta
      [Respuesta10]=Respuesta10        
      [IdCuestionarioNivel211]=IdCuestionarioNivel211
      [IdCuestionarioNivel212]=IdCuestionarioNivel212
      [IdCuestionarioNivel221]=IdCuestionarioNivel221
      [IdCuestionarioNivel222]=IdCuestionarioNivel222>       
      </app-subrespuesta>
  </div>
    
  </div>
  
  <!--.................................................................-->
  <!-- <pre>{{radioGroupForm.value['model']}}</pre>-->
  