<div class="container-fluid h-100">
    <ngb-carousel class="h-100" #myCarousel="ngbCarousel" (click)="onSlideClicked(myCarousel)">       
        <ng-template ngbSlide *ngFor="let cuestionario of cuestionarios;let i = index" id="slide_{{i}}">
       
            <img src="assets/pregunta1.png" class="img_carousel" alt="1">   
            
            <div class="carousel-caption" style="padding:0">
            <div class="row container-cabezera">
                <div class="col-12 col-sm-10 text ff1 header"><p>Diagn&oacute;stico de la piel</p></div>
                <div class="col-12 col-sm-2 text ff1 header"> <a class="link-no-underline" href="http://www.hydradermica.com">cerrar</a></div>
            </div>
             <div class="row container-cabezera">
                <div class="col-12">
                    <app-preguntas-template 
                        [indice]="i"
                        [carousel] = "myCarousel"    
                    ></app-preguntas-template>  
                </div>
             </div>   
                <div class="row justify-content-center container-logo">
                   
                    <div class="col-12 col-sm-9 contenedor-logo-preguntas-flex">
                        <div class="div-superior-logo-preguntas"></div>
                    <div class="row justify-content-center ">
                        <div class="col-12 col-sm-8">
                            <div class="row container-botton-enviar" *ngIf="apiservice.mostrarBottonEnviar">
                                <div class="col-12">
                                    <a routerLink="/resultado" routerLinkActive="active">
                                        <button type="button" class="btn btn-primary btn-lg sharp btn-outline" (click)="apiservice.resultados()" (click)=onSlideClicked({activeId:4})>
                                                Enviar 
                                        </button>
                                    </a>
                                </div>
                            </div>
                            </div>
                            <div class="col-12 contendedor-barras-puntos">
                                <div class="row justify-content-center">
                                    <div class="col-2 contendedor-barra-horizontal">
                                        <div [style.backgroundColor]="colorBarraHorizontal(i, 0)" class="barra-horizontal" (click)="myCarousel.select('slide_0')"></div>
                                    </div>
                                    <div class="col-2 contendedor-barra-horizontal">
                                        <div [style.backgroundColor]="colorBarraHorizontal(i, 1)" class="barra-horizontal" (click)="myCarousel.select('slide_1')"></div>
                                    </div>
                                    <div class="col-2 contendedor-barra-horizontal">
                                        <div [style.backgroundColor]="colorBarraHorizontal(i, 2)" class="barra-horizontal" (click)="myCarousel.select('slide_2')"></div>
                                    </div>
                                    <div class="col-2 contendedor-barra-horizontal">
                                        <div [style.backgroundColor]="colorBarraHorizontal(i, 3)" class="barra-horizontal" (click)="myCarousel.select('slide_3')"></div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <img class="logo-preguntas" src="/assets/logo.png" alt="1">
                    </div>
                </div>         
            </div> 
            
        </ng-template>       
    </ngb-carousel>
    
    </div>

    