
  <form #f="ngForm" novalidate>
  <div *ngFor="let cuestionario of cuestionarios; let i = index">
    <br>
    <h5>{{cuestionario.idPregunta.pregunta}}</h5>             
  
    <div *ngIf="cuestionario.idPregunta.id==1" class="btn-group">
      <select name="resp1" [(ngModel)]="cuesto.resp1" >
        <option [value]="1" selected="selected">Seleccione una opción</option>
        <option [value]="cuestionario.idRespuesta1.id" *ngIf="cuestionario.idRespuesta1.id!=1">
        {{cuestionario.idRespuesta1.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta2.id" *ngIf="cuestionario.idRespuesta2.id!=1">
        {{cuestionario.idRespuesta2.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta3.id" *ngIf="cuestionario.idRespuesta3.id!=1">
        {{cuestionario.idRespuesta3.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta4.id" *ngIf="cuestionario.idRespuesta4.id!=1">
        {{cuestionario.idRespuesta4.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta5.id" *ngIf="cuestionario.idRespuesta5.id!=1">
        {{cuestionario.idRespuesta5.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta6.id" *ngIf="cuestionario.idRespuesta6.id!=1">
        {{cuestionario.idRespuesta6.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta7.id" *ngIf="cuestionario.idRespuesta7.id!=1">
        {{cuestionario.idRespuesta7.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta8.id" *ngIf="cuestionario.idRespuesta8.id!=1">
        {{cuestionario.idRespuesta8.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta9.id" *ngIf="cuestionario.idRespuesta9.id!=1">
        {{cuestionario.idRespuesta9.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta10.id" *ngIf="cuestionario.idRespuesta10.id!=1">
        {{cuestionario.idRespuesta10.respuesta}}</option>
      </select>        
    </div>
    <div *ngIf="cuestionario.idPregunta.id==2" class="btn-group">          
      <select name="resp2" [(ngModel)]="cuesto.resp2">
        <option [value]="1" selected="selected">Seleccione una opción</option>
        <option [value]="cuestionario.idRespuesta1.id" *ngIf="cuestionario.idRespuesta1.id!=1">
        {{cuestionario.idRespuesta1.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta2.id" *ngIf="cuestionario.idRespuesta2.id!=1">
        {{cuestionario.idRespuesta2.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta3.id" *ngIf="cuestionario.idRespuesta3.id!=1">
        {{cuestionario.idRespuesta3.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta4.id" *ngIf="cuestionario.idRespuesta4.id!=1">
        {{cuestionario.idRespuesta4.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta5.id" *ngIf="cuestionario.idRespuesta5.id!=1">
        {{cuestionario.idRespuesta5.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta6.id" *ngIf="cuestionario.idRespuesta6.id!=1">
        {{cuestionario.idRespuesta6.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta7.id" *ngIf="cuestionario.idRespuesta7.id!=1">
        {{cuestionario.idRespuesta7.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta8.id" *ngIf="cuestionario.idRespuesta8.id!=1">
        {{cuestionario.idRespuesta8.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta9.id" *ngIf="cuestionario.idRespuesta9.id!=1">
        {{cuestionario.idRespuesta9.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta10.id" *ngIf="cuestionario.idRespuesta10.id!=1">
        {{cuestionario.idRespuesta10.respuesta}}</option>
      </select>        
    </div>

    <div *ngIf="cuestionario.idPregunta.id==3" class="btn-group">
      <select name="resp3" [(ngModel)]="cuesto.resp3">
        <option [value]="1" selected="selected">Seleccione una opción</option>
        <option [value]="cuestionario.idRespuesta1.id" *ngIf="cuestionario.idRespuesta1.id!=1">
        {{cuestionario.idRespuesta1.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta2.id" *ngIf="cuestionario.idRespuesta2.id!=1">
        {{cuestionario.idRespuesta2.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta3.id" *ngIf="cuestionario.idRespuesta3.id!=1">
        {{cuestionario.idRespuesta3.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta4.id" *ngIf="cuestionario.idRespuesta4.id!=1">
        {{cuestionario.idRespuesta4.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta5.id" *ngIf="cuestionario.idRespuesta5.id!=1">
        {{cuestionario.idRespuesta5.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta6.id" *ngIf="cuestionario.idRespuesta6.id!=1">
        {{cuestionario.idRespuesta6.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta7.id" *ngIf="cuestionario.idRespuesta7.id!=1">
        {{cuestionario.idRespuesta7.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta8.id" *ngIf="cuestionario.idRespuesta8.id!=1">
        {{cuestionario.idRespuesta8.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta9.id" *ngIf="cuestionario.idRespuesta9.id!=1">
        {{cuestionario.idRespuesta9.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta10.id" *ngIf="cuestionario.idRespuesta10.id!=1">
        {{cuestionario.idRespuesta10.respuesta}}</option>
      </select>        
    </div>

    <div *ngIf="cuestionario.idPregunta.id==4" class="btn-group">
      <select name="resp4" [(ngModel)]="cuesto.resp4">
        <option [value]="1" selected="selected">Seleccione una opción</option>
        <option [value]="cuestionario.idRespuesta1.id" *ngIf="cuestionario.idRespuesta1.id!=1">
        {{cuestionario.idRespuesta1.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta2.id" *ngIf="cuestionario.idRespuesta2.id!=1">
        {{cuestionario.idRespuesta2.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta3.id" *ngIf="cuestionario.idRespuesta3.id!=1">
        {{cuestionario.idRespuesta3.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta4.id" *ngIf="cuestionario.idRespuesta4.id!=1">
        {{cuestionario.idRespuesta4.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta5.id" *ngIf="cuestionario.idRespuesta5.id!=1">
        {{cuestionario.idRespuesta5.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta6.id" *ngIf="cuestionario.idRespuesta6.id!=1">
        {{cuestionario.idRespuesta6.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta7.id" *ngIf="cuestionario.idRespuesta7.id!=1">
        {{cuestionario.idRespuesta7.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta8.id" *ngIf="cuestionario.idRespuesta8.id!=1">
        {{cuestionario.idRespuesta8.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta9.id" *ngIf="cuestionario.idRespuesta9.id!=1">
        {{cuestionario.idRespuesta9.respuesta}}</option>
        <option [value]="cuestionario.idRespuesta10.id" *ngIf="cuestionario.idRespuesta10.id!=1">
        {{cuestionario.idRespuesta10.respuesta}}</option>
      </select>        
    </div>

    <div *ngIf="cuestionario.idPregunta.id==5" class="btn-group">
      <select   name="resp5" [(ngModel)]="cuesto.resp5">
        <option [value]="1" selected="selected">Seleccione una opción</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta1.id" *ngIf="cuestionario.idRespuesta1.id!=1">
        {{cuestionario.idRespuesta1.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta2.id" *ngIf="cuestionario.idRespuesta2.id!=1">
        {{cuestionario.idRespuesta2.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta3.id" *ngIf="cuestionario.idRespuesta3.id!=1">
        {{cuestionario.idRespuesta3.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta4.id" *ngIf="cuestionario.idRespuesta4.id!=1">
        {{cuestionario.idRespuesta4.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta5.id" *ngIf="cuestionario.idRespuesta5.id!=1">
        {{cuestionario.idRespuesta5.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta6.id" *ngIf="cuestionario.idRespuesta6.id!=1">
        {{cuestionario.idRespuesta6.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta7.id" *ngIf="cuestionario.idRespuesta7.id!=1">
        {{cuestionario.idRespuesta7.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta8.id" *ngIf="cuestionario.idRespuesta8.id!=1">
        {{cuestionario.idRespuesta8.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta9.id" *ngIf="cuestionario.idRespuesta9.id!=1">
        {{cuestionario.idRespuesta9.respuesta}}</option>
        <option (click)="changeShowStatusTotal()" (click)="ngOnInit2()" [value]="cuestionario.idRespuesta10.id" *ngIf="cuestionario.idRespuesta10.id!=1">
        {{cuestionario.idRespuesta10.respuesta}}</option>
      </select>  

      <!--respuesta nivel2 INICIO-->
      <div *ngIf="f.value['resp5']==cuestionario.idSubrespNivel1.subrespOrigen.id && cuestionario.idSubrespNivel1.id!=1" align="right" class="btn-group">
        <select  name="subresp51" [(ngModel)]="cuesto.subresp51" >
          <option [value]="1" selected="selected">Seleccione una opción</option>
          <option (click)="changeShowStatus1()" (click)="ngOnInit3()" [value]="cuestionario.idSubrespNivel1.idsubrespuesta1.id" >
          {{cuestionario.idSubrespNivel1.idsubrespuesta1.respuesta}}</option>
          <option (click)="changeShowStatus1b()" (click)="ngOnInit3()" [value]="cuestionario.idSubrespNivel1.idsubrespuesta2.id" >
          {{cuestionario.idSubrespNivel1.idsubrespuesta2.respuesta}}</option>
        </select>  
      </div>              
              <div *ngIf="showHide1==true" align="right" class="btn-group">
                <select  name="subresp52" [(ngModel)]="cuesto.subresp52" >
                  <option [value]="1" selected="selected">Seleccione una opción</option>
                  <option (click)="changeShowStatus1c()" (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel1.id1.idsubrespuesta1.id" >
                  {{cuestionario.idSubrespNivel1.id1.idsubrespuesta1.respuesta}}</option>
                  <option (click)="changeShowStatus1d()" (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel1.id1.idsubrespuesta2.id" >
                  {{cuestionario.idSubrespNivel1.id1.idsubrespuesta2.respuesta}}</option>
                </select>
              </div>

                  <div *ngIf="showHide1c==true" align="right" class="btn-group">
                      <select  name="subresp53" [(ngModel)]="cuesto.subresp53" >
                        <option [value]="1" selected="selected">Seleccione una opción</option>
                        <option [value]="cuestionario.idSubrespNivel1.id1.id1.idsubrespuesta1.id" >
                        {{cuestionario.idSubrespNivel1.id1.id1.idsubrespuesta1.respuesta}}</option>
                        <option [value]="cuestionario.idSubrespNivel1.id1.id1.idsubrespuesta2.id" >
                        {{cuestionario.idSubrespNivel1.id1.id1.idsubrespuesta2.respuesta}}</option>
                      </select>                   
                  </div>
                  <div *ngIf="showHide1d==true" align="right" class="btn-group">                  
                      <select  name="subresp53" [(ngModel)]="cuesto.subresp53" >
                        <option [value]="1" selected="selected">Seleccione una opción</option>
                        <option [value]="cuestionario.idSubrespNivel1.id1.id2.idsubrespuesta1.id" >
                        {{cuestionario.idSubrespNivel1.id1.id2.idsubrespuesta1.respuesta}}</option>
                        <option [value]="cuestionario.idSubrespNivel1.id1.id2.idsubrespuesta2.id" >
                        {{cuestionario.idSubrespNivel1.id1.id2.idsubrespuesta2.respuesta}}</option>
                      </select>                   
                  </div>                 

              <div *ngIf="showHide1b==true" align="right" class="btn-group">
                <select  name="subresp52" [(ngModel)]="cuesto.subresp52" >
                  <option [value]="1" selected="selected">Seleccione una opción</option>
                  <option (click)="changeShowStatus1e()" (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel1.id2.idsubrespuesta1.id" >
                  {{cuestionario.idSubrespNivel1.id2.idsubrespuesta1.respuesta}}</option>
                  <option (click)="changeShowStatus1f()" (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel1.id2.idsubrespuesta2.id" >
                  {{cuestionario.idSubrespNivel1.id2.idsubrespuesta2.respuesta}}</option>
                </select>  
              </div>

                  <div *ngIf="showHide1e==true" align="right" class="btn-group">
                    <select  name="subresp53" [(ngModel)]="cuesto.subresp53" >
                      <option [value]="1" selected="selected">Seleccione una opción</option>
                      <option [value]="cuestionario.idSubrespNivel1.id2.id1.idsubrespuesta1.id" >
                      {{cuestionario.idSubrespNivel1.id2.id1.idsubrespuesta1.respuesta}}</option>
                      <option [value]="cuestionario.idSubrespNivel1.id2.id1.idsubrespuesta2.id" >
                      {{cuestionario.idSubrespNivel1.id2.id1.idsubrespuesta2.respuesta}}</option>
                    </select> 
                  </div>
                  <div *ngIf="showHide1f==true" align="right" class="btn-group">
                    <select  name="subresp53" [(ngModel)]="cuesto.subresp53" >
                      <option [value]="1" selected="selected">Seleccione una opción</option>
                      <option [value]="cuestionario.idSubrespNivel1.id2.id2.idsubrespuesta1.id" >
                      {{cuestionario.idSubrespNivel1.id2.id2.idsubrespuesta1.respuesta}}</option>
                      <option [value]="cuestionario.idSubrespNivel1.id2.id2.idsubrespuesta2.id" >
                      {{cuestionario.idSubrespNivel1.id2.id2.idsubrespuesta2.respuesta}}</option>
                    </select>
                  </div>

      <div *ngIf="f.value['resp5']==cuestionario.idSubrespNivel2.subrespOrigen.id && cuestionario.idSubrespNivel2.id!=1" align="right" class="btn-group">
        <select  name="subresp51" [(ngModel)]="cuesto.subresp51" >
          <option [value]="1" selected="selected">Seleccione una opción</option>
          <option (click)="changeShowStatus2()" (click)="ngOnInit3()" [value]="cuestionario.idSubrespNivel2.idsubrespuesta1.id" >
          {{cuestionario.idSubrespNivel2.idsubrespuesta1.respuesta}}</option>
          <option (click)="changeShowStatus2b()" (click)="ngOnInit3()" [value]="cuestionario.idSubrespNivel2.idsubrespuesta2.id" >
          {{cuestionario.idSubrespNivel2.idsubrespuesta2.respuesta}}</option>
        </select>  
      </div>        

              <div *ngIf="showHide2==true" align="right" class="btn-group">
                <select  name="subresp52" [(ngModel)]="cuesto.subresp52" >
                  <option [value]="1" selected="selected">Seleccione una opción</option>
                  <option (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel2.id1.idsubrespuesta1.id" >
                  {{cuestionario.idSubrespNivel2.id1.idsubrespuesta1.respuesta}}</option>
                  <option (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel2.id1.idsubrespuesta2.id" >
                  {{cuestionario.idSubrespNivel2.id1.idsubrespuesta2.respuesta}}</option>
                </select>
              </div>

              <div *ngIf="showHide2b==true" align="right" class="btn-group">
                <select  name="subresp52" [(ngModel)]="cuesto.subresp52" >
                  <option [value]="1" selected="selected">Seleccione una opción</option>
                  <option (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel2.id1.idsubrespuesta1.id" >
                  {{cuestionario.idSubrespNivel2.id1.idsubrespuesta1.respuesta}}</option>
                  <option (click)="ngOnInit4()" [value]="cuestionario.idSubrespNivel2.id1.idsubrespuesta2.id" >
                  {{cuestionario.idSubrespNivel2.id1.idsubrespuesta2.respuesta}}</option>
                </select>
              </div>

      <div *ngIf="f.value['resp5']==cuestionario.idSubrespNivel3.subrespOrigen.id && cuestionario.idSubrespNivel3.id!=1" align="right" class="btn-group">
        <select  name="subresp51" [(ngModel)]="cuesto.subresp51" >
          <option [value]="1" selected="selected">Seleccione una opción</option>
          <option (click)="ngOnInit3()" [value]="cuestionario.idSubrespNivel3.idsubrespuesta1.id" >
          {{cuestionario.idSubrespNivel3.idsubrespuesta1.respuesta}}</option>
          <option (click)="ngOnInit3()" [value]="cuestionario.idSubrespNivel3.idsubrespuesta2.id" >
          {{cuestionario.idSubrespNivel3.idsubrespuesta2.respuesta}}</option>
        </select>  
      </div>  
      <!--respuesta nivel2 FIN-->     
   
      <!--respuesta nivel3 INICIO-->

<!--respuesta nivel3 FIN--> 

      </div><!--respuesta 5 FIN-->

</div><!--fin ngFor-->
<input type="hidden" name="subresp51" [(ngModel)]="cuesto.subresp51" value="1">
<input type="hidden" name="subresp52" [(ngModel)]="cuesto.subresp52" value="1">
<input type="hidden" name="subresp53" [(ngModel)]="cuesto.subresp53" value="1">
</form>
<br>
<!--<pre>Valores enviados: <br>{{f.value | json}}</pre>-->
<button type="submit"  (click)="goHome(f.value['resp1'],f.value['resp2'],f.value['resp3'],f.value['resp4'],f.value['resp5'],f.value['subresp51'],f.value['subresp52'],f.value['subresp53'])"  class="btn btn-default">ENVIAR</button>
<!--(click)="OnSubmit()"-->
