<div *ngFor="let cuestionario of cuestionarios">
  <div *ngIf="cuestionario.id==indice+1" class="custionario-container" >
  <div class="row" >
    <div class="col-12 texto-pregunta">
    {{cuestionario.idPregunta.pregunta.trim()}} 
    </div>
  </div>
  <div *ngIf="cuestionario.idTipocuestionario.id==1" style="padding-left:15% ; padding-right:15%;">
      <div class="row justify-content-center">
        <ng-container *ngFor="let s of cuestionario.idrespuestas|respPipe ; let j = index" class="btn-preguntas">
        <div class="col-md-2 col-12" > 
           <button
             type="button" 
             class="btn btn-primary btn-lg sharp btn-selected btn-outline" 
             (click)="rellenarRespuestas(indice, s.id, j)"
             (click)="toResp()"
             [ngClass]="{'btn-selected': apiservice.btnSlected[indice][j]}"
           >
                {{capitalizeFirstLetter(s.respuesta.toLowerCase())}}  
           </button>
        </div> 
        </ng-container>
      </div>
    </div>
    <div *ngIf="cuestionario.idTipocuestionario.id==2">
      <div class="div-exterior-select btn">
      <select style=
        "
        color:#234369 !important;
        font-family: 'Questrial', sans-serif !important;
        font-size: 135%  !important;
        " 
      class="selectPregunta" name="indice" (change)="toResp()" class="btn" [(ngModel)]="apiservice.respuestas[indice].resp" >
      
        <option class="opcion-select"  [value]="s.id" *ngFor="let s of cuestionario.idrespuestas|respPipe; let i = index" [value]="s.respuesta">
        {{s.respuesta}}
        </option>
      </select>
      </div>
    </div>
     <div *ngFor="let d of cuestionario.idSubrespuestas|respPipe2:apiservice.respuestas[indice].resp;let j = index">
        <div class="div-exterior-select btn">
        <select style=
        "
        color:#234369 !important;
        font-family: 'Questrial', sans-serif !important;
        font-size: 135%  !important;
        " 
          class="selectPregunta btn" name="indice" [(ngModel)]="apiservice.respuestas[indice].subresp[j]" (click)="toResp()" >
          <option [value]="d.idsubrespuesta1.id">{{d.idsubrespuesta1.respuesta}}</option>
          <option [value]="d.idsubrespuesta2.id">{{d.idsubrespuesta2.respuesta}}</option>        
        </select>     
        </div>
    </div>
  </div>
</div>

<!--
   
    <div *ngFor="let d of cuestionario.idSubrespuestas|respPipe2:apiservice.respuestas[indice].resp;let j = index">
      <select name="indice" class="btn-group" [(ngModel)]="apiservice.respuestas[indice].subresp[j]" (change)=toSet(indice)>
        <option [value]="d.idsubrespuesta1.id">{{d.idsubrespuesta1.respuesta}}</option> 
        <option [value]="d.idsubrespuesta2.id">{{d.idsubrespuesta2.respuesta}}</option>        
      </select>  

      <div *ngIf="d.id1.subrespOrigen.id == apiservice.respuestas[indice].subresp[j]">
        <select name="indice2" class="btn-group" [(ngModel)]="apiservice.respuestas[indice].subresp[j+1]" (change)=toSet(indice,(j+1))>
          <option [value]="d.id1.idsubrespuesta1.id">{{d.id1.idsubrespuesta1.respuesta}}</option> 
          <option [value]="d.id1.idsubrespuesta2.id">{{d.id1.idsubrespuesta2.respuesta}}</option>        
        </select> 
      </div>

      <div *ngIf="d.id2.subrespOrigen.id == apiservice.respuestas[indice].subresp[j]">
          <select name="indice" class="btn-group" [(ngModel)]="apiservice.respuestas[indice].subresp[j+1]" (change)=toSet(indice,(j+1))> 
            <option [value]="d.id2.idsubrespuesta1.id">{{d.id2.idsubrespuesta1.respuesta}}</option> 
            <option [value]="d.id2.idsubrespuesta2.id">{{d.id2.idsubrespuesta2.respuesta}}</option>        
          </select> 
      </div>    

        <div *ngIf="d.id1.id1.subrespOrigen.id == apiservice.respuestas[indice].subresp[j+1]">
          <select name="indice2" class="btn-group" [(ngModel)]="apiservice.respuestas[indice].subresp[j+2]">
            <option [value]="d.id1.id1.idsubrespuesta1.id">{{d.id1.id1.idsubrespuesta1.respuesta}}</option> 
            <option [value]="d.id1.id1.idsubrespuesta2.id">{{d.id1.id1.idsubrespuesta2.respuesta}}</option>        
          </select> 
        </div>
        
        -->