<div *ngFor="let cuestionario of cuestionarios_sin_vacias">
  <div *ngIf="cuestionario.id==indice+1" class="custionario-container" >
  <div class="row" >
    <div class="col-12 texto-pregunta">
    {{cuestionario.idPregunta.pregunta.trim()}} 
    </div>
  </div>
    <div *ngIf="cuestionario.idTipocuestionario.id==1" style="padding-left:15% ; padding-right:15%;">
      <!-- <div role="group" aria-label="Basic example" >-->
      <!--DESCOMENTAR-->
      <!--<div class="btn-group" ngbRadioGroup name="radioBasic" [(ngModel)]="cuesto2.resp">-->
        <div class="row justify-content-center" >
          <ng-container *ngFor="let s of cuestionario.idrespuestas" class="btn-preguntas">
          <!-- <button name="cuesto2.resp" [(ngModel)]="cuesto2.resp" role="group" aria-label="Basic example" type="button" class="btn btn-secondary" *ngIf="s.respuesta!=0">
          {{s.respuesta}}
          </button>-->
          <!--<div class="{{asignarClaseALasRespuestas(cuestionario.idrespuestas)}}">  -->
          <div class="col-md-2 col-12" >  
            <button type="button" class="btn btn-primary btn-lg sharp">
              {{maysPrimera(s.respuesta.toLowerCase())}}  
            </button>
          </div>
          <!--DESCOMENTAR-->
          <!--<label ngbButtonLabel class="btn btn-primary btn-lg sharp " *ngIf="s.respuesta!=0">-->
          <!--  <input ngbButton type="radio" [value]=" s.respuesta.id">  {{maysPrimera(s.respuesta.toLowerCase())}}-->
          <!--</label>-->
          </ng-container>
        </div>
      <!--</div> -->
      </div>
 
    <div *ngIf="cuestionario.idTipocuestionario.id==2">
      <div class="div-exterior-select btn">
      <select style=
        "
        color:#234369 !important;
        font-family: 'Questrial', sans-serif !important;
        font-size: 135%  !important;
        " 
      class="selectPregunta" name="indice" class="btn" [(ngModel)]="cuesto2.resp" (ngModelChange)="toResp(indice)" >
      
        <option class="opcion-select" *ngFor="let s of cuestionario.idrespuestas ; let i = index" [value]="s.respuesta">
        {{s.respuesta}}
        </option>
      </select>
      </div>
    </div>
  </div>
</div>


