<form [formGroup]="radioGroupForm">
  <div class="btn-group" ngbRadioGroup name="radioBasic" formControlName="model">
     
      <div class="btn-group" *ngIf="SubRespuestaNivel2Uni1!=0">   
              
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="1" (click)="showHide = !showHide">
          {{SubRespuestaNivel2Uni1}}        
        </label>
      </div>
      <div class="btn-group" *ngIf="SubRespuestaNivel2Uni2!=0">          
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="2" (click)="showHide = !showHide">
          {{SubRespuestaNivel2Uni2}}          
        </label>
      </div>
    
  </div> 
</form>

<div class="box" *ngIf="showHide"> 
  <app-subrespuesta-nivel2
  [SubRespuestaNivel3]=SubRespuestaNivel3
  [SubRespuestaNivel3Origen1]=SubRespuestaNivel3Origen1
  [SubRespuestaNivel3Uni1]=SubRespuestaNivel3Uni1
  [SubRespuestaNivel3Uni2]=SubRespuestaNivel3Uni2>
  </app-subrespuesta-nivel2>
  </div>

<!--
 <div *ngIf="radioGroupForm.value['model'] ==0">
    <div [ngStyle]="{'color': 'red'}">No ha seleccionado una opcion.</div>
    </div>-->

   <!-- <pre>{{radioGroupForm.value['model']}}</pre>-->
