<form [formGroup]="radioGroupForm" > 

  <table >
    <div class="btn-group" ngbRadioGroup name="radioBasic" formControlName="model">
      
        <div class="btn-group" *ngIf= "respuestaUni1!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1">{{respuestaUni1}}
          </label>
        </div>
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni2!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="2">{{respuestaUni2}}
          </label>
        </div>
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni3!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="3">{{respuestaUni3}}
          </label>
        </div>
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni4!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="4">{{respuestaUni4}}
          </label>
        </div>
    <br>     
        <div class="btn-group"   *ngIf= "respuestaUni5!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="5">{{respuestaUni5}}
          </label>
        </div>
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni6!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="6">{{respuestaUni6}}
          </label>
        </div>      
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni7!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="7">{{respuestaUni7}}
          </label>
        </div>
    <br>
         <div class="btn-group"   *ngIf= "respuestaUni8!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="8">{{respuestaUni8}}
          </label>
        </div>      
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni9!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="9">{{respuestaUni9}}
          </label>
        </div>
    <br>
        <div class="btn-group"   *ngIf= "respuestaUni10!=0">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="10">{{respuestaUni10}}
          </label>
        </div>

    </div>
    <!-- <div *ngIf="radioGroupForm.value['model'] ==0">
    <div [ngStyle]="{'color': 'red'}">No ha seleccionado una opcion.</div>
    </div>-->
  </table> 
  
</form>

   <!-- <pre>{{radioGroupForm.value['model']}}</pre>-->
