/**************************
 IMPORTS
 **************************/
@import "./files/css/bootstrap.min.css";
@import "./files/css/bootstrap.css";
@import url("./bootrap-5-cols.css");
@import url("./bootrap-10-cols.css");
@import url("./carga.css");




 /**************************
  FUENTES
 **************************/
@font-face{font-family:ff1;src:url(font/f1.woff)format("woff");}
 div {
     font-family: 'Questrial', sans-serif !important;
 }
 
 /**************************
  GENERAL
 **************************/
 
 html, body {
  /*height: auto; */
    min-height:100%;  
 }
 
 .h-100,  .carousel-inner,  .carousel-item {
    /*height: auto;*/
    min-height:100vh;
 }
 
 /*option, select {*/
 /* text-align: center;*/
 /* text-align-last: center;*/
 /*}*/
 

     /**************************
      DEFAULT BOOTSTRAP STYLES
    **************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #0000;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  SHARP BUTTONS
************************/
.sharp {
  border-radius:0;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
	padding: 5px 20px;
	border: 0 none;
	/*font-weight: 700;*/
	letter-spacing: 1px;
	/*text-transform: uppercase;*/
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background: white;
	color: #234369;
  border:2px solid #234369;
  /*transition: 0.5s linear; */

}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #234369;
  color:white;
  outline: 0;
}


.btn-selected {
  background-color: #234369;
  color:white;
  outline: 0;
}


.ff1{
 font-family:ff1;
 line-height:0.976000;
 font-style:normal;
 font-weight:bold;
 visibility:visible;
 }

.btn-primary:active, .btn-primary.active {
	background: white;
	color: #234369;
  border:2px solid #234369;
  outline: none;
}




/**************************
  PREGUNTAS
 **************************/

.texto-pregunta {
    font-size: 200%;
    /*margin-bottom: 4%;*/
}

.margen-preguntas {
    margin-bottom: 4%;
}

.btn-preguntas {
 margin-left: 30px;   
}

.barra-horizontal {
     /*background-color: #234369;*/
     height: 8px;
     width: 8px;
     cursor: pointer;
     border-radius: 50%;
         margin-left: auto;
    margin-right: auto;
}

.contendedor-barra-horizontal {
 padding-left: 10px;
 padding-right: 10px;
 /*margin-top: 10%;*/
 /*margin-bottom: 10%;*/
}

.contendedor-barras-puntos {
    margin-top: 50px
}

.img_carousel {
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
       /*height: 83%;*/
}

.contenedor-logo-preguntas-flex {
 display: flex;
  flex-flow: column;
}

.div-superior-logo-preguntas {
    flex-grow: 1;
}

.logo-preguntas {
 width: 100%;   
 margin-bottom: 10px;
}



.custionario-container {
    margin-top: 10%;
    /*margin-bottom: 50%;  */
}

.carousel-caption {
 top:0px;
 position: initial;
 min-height:100vh;
 
 
 display: flex;
  flex-flow: column;
}

.carousel-indicators {
     display:none !important;   
}

ngb-carousel:focus {
    outline: none;
    border: 0;
 }
 
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-image: none;
  display:none;
}


.div-exterior-select {
    border: solid 2px #234369;
    width: auto;
    padding: 0;
    margin: 0;
    margin-bottom:5px;
    border-radius: 0%;
}

.contenedor-botton {
   margin-bottom: 10px; 
}

.img_carousel {
 position:absolute;   
}

/**************************
  RESULTADOS
 **************************/
 
 .text {
 color:rgb(79,76,77);
}

/******** CABECERA ***********/

.div-colores-corporativos {
    background-color: white;
 	color: #234369;
 	border: solid 2px #234369;
 	font-weight: normal;
 	letter-spacing: -2px;
 	padding: 5px 0px;
 	text-align: center;
}

.lista-consejos {
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.lista-consejos li{
    padding-top: 5px;
    list-style:none;
}


.descripcion {
 /*padding: 5% 0%;*/
 width:100%;
 text-align: center;
 /*margin-left: 1%;*/
 
}

.text-desc {
    /*margin-left:10%;*/
    }
   
.container-cabezera {
     padding-top: 10px;
}

.botton-expand {
 font-size: 80% !important;  
}

.header {
 font-size:200%;
 font-family: ff1 !important;
 text-decoration: none !important; 
 text-align: center;
     margin-bottom: 10px;
}

.link-no-underline {
 text-decoration: none !important; 

}
.link-no-underline:focus, .link-no-underline:hover, .link-no-underline:active, .link-no-underline:link, .link-no-underline:visited{
 text-decoration: none !important; 
 color:rgb(79,76,77);
}


    /******** RESPOSIVAS ***********/
@media (min-width: 992px) { 
     .descripcion {
         /*padding: 0% 5%;*/
         padding-top: 1%;
         text-align: left;
         margin-left: 0%;
    }
    
    .botton-expand {
        font-size: 18px !important;  
     }
    
   
    .container-cabezera {
     /*height:auto;*/
     /*padding-top: 10px;*/
     /*padding-left: 20px;*/
    }
     .text-desc {
        margin-left:0%;
    }

    .link-no-underline {
      text-decoration: none !important; 
      color:rgb(79,76,77);

    }
    
    .header {
     text-align: left; 
    }
    
}

/******** MEDIO(parte productos) ***********/

.card-button {
 text-transform:none; 
 padding:2px 20px;
  font-size: 15px;
}

.title-product {
 	color: #234369;
 	font-size: 65%;
 	font-weight:bold; 
    margin-left: 5%;
    margin-right: 5%;
}

.card {
 border: 2px solid #234369;
 margin-bottom: 10%;
 	margin-left: 15%;
 	margin-right: 15%;
 /*margin-left:25%*/
}

.container-center {
 /*height:82%;*/
 padding-top: 20px;
}

app-producto {
    margin-bottom: 10px;
}

.leftcol {
   overflow:hidden;
}

.rightcol {
   overflow-y: scroll;
}

.contendeor-boton-card-footer {
    /*margin-bottom: 10%;        */
}
.contenedor-texto-card {
    padding-top: 10%;        
    
}


    /******** RESPONSIVAS ***********/
@media (min-width: 992px) {

    .card {
        border: 2px solid #234369;
        margin-bottom: 10%;
     	margin-left: 0%;
     	margin-right: 0%;
     	height: 100%;
     	padding-bottom:10%
    }
    
    
    .card-footer {
        padding: 0%;
        /*padding-top: 10%;*/
        display: flex;
        flex: 1 1 auto;   
        flex-flow: column;
    }

    .sm-padding{ 
        padding-left:0%; 
        padding-bottom:0%;   
    }
    
    
    
    .container-center {
     /*height:60%;*/
     /*padding-top: 20px;*/
    }
    
    
    .rightcol {
       /* border:solid 1px red;
       position: relative;
       top: 0%;
       left: 50%;  */
       /*border:solid 1px red; */
       overflow-y: scroll;
       /*height: 80%;*/
       /*padding-right: 10%*/
    }
    
}


/******** PIE ***********/

.div-padding-zero-left {
    padding-left:15px !important;
}

.div-padding-zero-right {
    padding-right: 15px !important;
}

.boton-enviar-margenes {
 margin: 15px 0px;   
}
.div-tamanyo-dinamico {
    flex-grow: 1;
}
.footer
{
    padding:3px;
    text-align:center;
    color:#F3F3F3;
}

.footer-text-diagnostico {
 font-weight: bolder;
 font-family: ff1 !important;
 font-size: 120%;
}

.mail-input {
 border: 2px solid #234369;
 height: 30px;
 width: 100%;
 font-family: "Times New Roman", Georgia, Serif;
}

.sm-padding{ 
    text-align: center;
    padding-left:35%; 
    padding-bottom:10%;   
}


.logotipo-footer {
 width: 100%;
}

.texto-advertencia-final {
    font-size:100%;
    /*text-align: center !important;*/
}


.container-logo {
    position: initial;
    bottom: initial;
    /*width:100%;*/
    /*padding-top: 35%;*/
    flex: 1 1 auto;
}
    
.link-politicas-privacidad, .link-politicas-privacidad:active, .link-politicas-privacidad:focus, .link-politicas-privacidad:hover {
     color:#234369;
     text-decoration: none;
     
}

.pregunta {
 text-align: center;   
    
}

.desactivado, .desactivado:active,  .desactivado:hover,  .desactivado:focus  {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #234369;
    color:white;
    outline: 0;
}

    /******** RESPONSIVAS ***********/
@media (min-width: 992px) { 
    .texto-advertencia-final {
        font-size:60%;
        margin-top: 10px;
    }
    
    .boton-enviar-margenes {
         margin: 0px 0px;   
    }
    
    .div-padding-zero-left {
        padding-left: 0px !important;
    }
    
    .div-padding-zero-right {
        padding-right: 0px !important;
    }
      .container-botton-enviar {
        margin-bottom: 10%;
        /*position: absolute;*/
        /*bottom: 10px;*/
        /*width:100%;*/
    }
    .pregunta {
     text-align: left;   
    
    }

    
    .container-logo {
        position: absolute;
        bottom: 10px;
        width:100%;
    }

    .carousel-indicators {
     display:none !important;   
    }
   
    .footer-text-diagnostico.pregunta {
     font-weight: bolder;
     font-family: ff1 !important;
     font-size: 120%;
    }

    .footer
    {
        /*clear:both;*/
        /*bottom: 0;*/
        /*width: 99%;*/
        padding:10px 0px;
        /*position: absolute;*/
        text-align:center;
        /*background-color:rgba(111, 111, 111, 0.65);*/
        /*border-top:1px solid #bbb;*/
        color:#F3F3F3;
    }
    
   
    
}


/**************************
  RESPONSIVAS 
  Aqui estan las clases modificadas para el tama침o de la pantalla,
  Si se quiere modificar algo en un tama침o menor a 992px se deben modificar
  las clases que est치n fuera no las que est치n dentro.
 **************************/

@media (min-width: 992px) {

  
 .carousel-caption {
     top :20px;
     position: absolute;
 }
 
 .img_carousel {
 position:relative;   
}

 
 .h-100 {
      height: 100%;   
 }
 .contenedor-logo-preguntas-flex {
     display: block;
      flex-flow: none;
    }
     
    
 .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      outline: black;
      /*background-size: 100%, 100%;*/
      /*border-radius: 50%;*/
      /*border: 1px solid black;*/
      background-image: none;
    }
    
  
    .main-content {
        min-height:100vh;
         display: flex;
          flex-flow: column;
    }

    .texto-pregunta {
    font-size: 200%;
    }
    
    .margen-preguntas {
        margin-bottom: 2%;
    }
    .btn-preguntas {
     margin-left: 30px;   
    }
    
    .contenedor-botton {
       margin-bottom: initial; 
    }
    
    .barra-horizontal {
         /*background-color: #234369;*/
         height: 5px;
         cursor: pointer;
         border-radius: 0%;
         width: 100%;
    }
    
    .contendedor-barra-horizontal {
     padding-left: 10px;
     padding-right: 10px;
     /*margin-top: 5%;*/
     /*margin-bottom: 3%;*/
    }
    
    .img_carousel {
        opacity: 0;
        filter: alpha(opacity=0); /* For IE8 and earlier */
        height:auto
    }
    
    .logo-preguntas {
        margin-top: 10%;
         width: auto;   
         margin-bottom: 35px;
    }
    .custionario-container {
        /*margin-top: 10%;*/
        /*margin-bottom: 6%; */
    }

}



/**************************
  SCROLLBAR
 **************************/

/*::-webkit-scrollbar {*/
/*  width: 2px;*/
/*  height: 2px;*/
/*}*/
/*::-webkit-scrollbar-button {*/
/*  width: 0px;*/
/*  height: 0px;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*  background: #e1e1e1;*/
/*  border: 0px none #ffffff;*/
/*  border-radius: 50px;*/
/*}*/
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #ffffff;*/
/*}*/
/*::-webkit-scrollbar-thumb:active {*/
/*  background: #000000;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*  background: #666666;*/
/*  border: 0px none #ffffff;*/
/*  border-radius: 50px;*/
/*}*/
/*::-webkit-scrollbar-track:hover {*/
/*  background: #666666;*/
/*}*/
/*::-webkit-scrollbar-track:active {*/
/*  background: #333333;*/
/*}*/
/*::-webkit-scrollbar-corner {*/
/*  background: transparent;*/
/*}*/

